@* O Model desta View tem por Base um ViewModel que contem uma Lista de Clientes, Tipos e Items *@
@model ExCliX.Models.ClientesTiposItems

@{
    <style>

        h1 {
        color: black;
        text-align: center;
        margin-top: 50px;
        }

        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        }

        label {
        font-weight: bold;
        margin-bottom: 10px;
        }

        select {
        padding: 5px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid #ccc;
        }

        input[type="submit"] {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }

        input[type="submit"]:hover {
        background-color: #45a049;
        }
    </style>
    <h1 class="h1 text-black">ITEMS</h1>

    
    @using (Html.BeginForm("Index", "CD4"))
    {
    <div>
        @Html.DropDownList("cbxClientes", (SelectList)ViewBag.CLIENTES, "Selecione um Cliente")
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
        @if (ViewBag.CLIENTESELECIONADO != null)
        {
            <p>
                <a class="link-info" asp-action="Criar" asp-route-Id="@ViewBag.IDCLIENTESELECIONADO">Create New</a>
            </p>
    <table class="table table-striped table-borderless table-dark">
        <thead>
            <tr>
                <th>
                    Item 1
                </th>
                <th>
                   Item 2 
                </th>
                <th>
                    Texto
                </th>
                <th>
                    ID Tipo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

                  
            @foreach (Item item in ViewBag.CLIENTESELECIONADO)
            {
                <tr>
                    <td>
                        @item.Item1
                    </td>
                    <td>
                        @item.Item2
                    </td>
                    <td>
                        @item.Texto
                    </td>
                    <td>
                        @item.TipoId
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-IdItem="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-IdItem="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
 }
 }