@model ExCliX.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1 class="h1 text-black">Details</h1>

<div>
    <h4 class="h4 text-white-50">Item</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Item 1:</text>
        
            @Html.DisplayFor(model => model.Item1)
        </li>
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Item 2:</text>

            @Html.DisplayFor(model => model.Item2)
        </li>
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Texto:</text>

            @Html.DisplayFor(model => model.Texto)
        </li>
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Tipo:</text>

            @Html.DisplayFor(model => model.TipoId)
        </li>
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Cliente:</text>

            @Html.DisplayFor(model => model.ClienteId)
        </li>
    </ul>
</div>
<div>
    <a class="link-info" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="link-info" asp-action="Index">Back to List</a>
</div>
