@model IEnumerable<ExCliX.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h1 text-black">ITEMS</h1>

<p>
    <a class="link-info" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-borderless table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
