@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
<form>
@foreach (Equipa c in ViewBag.EQUIPAS)
{
    @c.NomeEquipa 
    @Html.ActionLink("Selecionar", "Index", new { alEquipas = c.Id }, null)
    <br />
}
<br />
<hr />
@if (ViewBag.MEMBROS != null)
    {
        @foreach (Membro m in ViewBag.MEMBROS)
        {
            @m.NomeMembro
            <br />
        }
    }
</form>
<hr />
*@
<style>
    h3{
        text-shadow: 2px 2px 5px white;
    }
</style>
<form>
<table class="table table-striped table-borderless table-dark">
    <thead>
        <tr>
            <th>NOME</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (Equipa c in ViewBag.EQUIPAS)
    {
        string selectedRow = "";
        @if (ViewBag.EQUIPACLICADA == c.Id)
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow"> 
            <td>
                @c.NomeEquipa
            </td>

            <td>
                @Html.ActionLink("Selecionar", "Index", new { alEquipas = c.Id }, null)
            </td>
        </tr>
    }
    </tbody>
</table>
<hr />
<br />
@if (ViewBag.MEMBROS != null)
{
    <table class="table table-striped table-borderless table-dark">
        <thead>
            <tr>
                <th>ID</th>
            
                <th>NOME</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Membro m in ViewBag.MEMBROS)
            {

                <tr>
                    <td>
                        @m.Id
                    </td>

                    <td>
                        @m.NomeMembro
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
        <h3>NUMERO DE EQUIPA SELECIONADA: @ViewBag.EQUIPACLICADA</h3>

    <h3>NOME DE EQUIPA SELECIONADA  @ViewBag.EQUIPASELECIONADA</h3>
        
        <h3>TOTAL DE MEMBROS DA EQUIPA SELECIONADA: @ViewBag.MEMBROSEQUIPA</h3>
        <h3>TOTAL DE MEMBROS (TODAS AS EQUIPAS): @ViewBag.COUNTMEMBROS</h3>
</form>
