@model IEnumerable<EquipasMembros.Models.Membro>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h1 text-black">MEMBROS</h1>

<p>
    <a class="link-dark" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-borderless table-dark">
    <thead>
        <tr>
            <th>
                Nome Membro:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMembro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipa.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
