<form>

    Pizza @Html.DropDownList("cbxPizza", (SelectList)ViewBag.PIZZA)
    <br />
    <br />
    Quantidade @Html.TextBox("txtQuantidade", null, new { style = "width: 30px;" })
    <br />
    Total: @ViewBag.TOTALPIZZA
    <br />
    <br />
    Pimento 3€ @Html.CheckBox("chkPimento")
    <br />
    <br />
    Cebola 2€ @Html.CheckBox("chkCebola")
    <br />
    <br />
    Tomate 1€ @Html.CheckBox("chkTomate")
    <br />
    <br />
    Quantidade  @Html.TextBox("txtQuantidadeExtra", null, new { style = "width: 30px;" })
    <br />
    Total: @ViewBag.TOTALEXTRA
    <br />
    <br />
    Desconto de 10% ?
    <br />
    Não
    @Html.RadioButton("opcao", "naoDesconto", true)
    
    Sim
    @Html.RadioButton("opcao", "temDesconto", false)
    <br />
    <br />
    Total: @ViewBag.TOTAL
    <br />
    <input type="submit" value="Enviar" />
</form>
