@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>ESCOLHA DE PIZZA</h1>
<form>

    Pizza @Html.DropDownList("cbxPizza", (SelectList)ViewBag.PIZZA)
    Quantidade @Html.TextBox("txtQuantidade")
    Total: @ViewBag.TOTALPIZZA
    <br />
    <br />
    Pimento @Html.CheckBox("chkPimento")
    Cebola @Html.CheckBox("chkCebola")
    Tomate @Html.CheckBox("chkTomate")
    Quantidade  @Html.TextBox("txtQuantidadeExtra")
    Total: @ViewBag.TOTALEXTRA
    <br />
    <br />
    Desconto de 10% ?
    <br />
    Não
    @Html.RadioButton("opcao", 1, true)
    Sim

    @Html.RadioButton("opcao", 2, false)
    <br />
    <br />
    Total: @ViewBag.TOTAL
    <br />
    <input type="submit" value="Enviar" />
</form>

