@model IEnumerable<ExCliX.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1{
        text-shadow: 2px 2px 5px white;
    }
</style>
<h1 class="h1 text-black">CLIENTES</h1>
<p>
    <a class="link-info" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-borderless table-dark">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Referência
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
